@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-image: url(../Images/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
     
    
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar a {
    text-decoration: none;
    color: rgb(254, 228, 228);
    font-weight: bold;
    margin: 0 15px;
}

.navbar h1 {
    text-decoration: none;
    color: rgb(254, 228, 228);
    font-weight: bold;
    margin: 0 15px;
}

.signup-btn {
    background: rgb(203, 116, 116);
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.container{
    width: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 2px solid #ffffff;
    border-radius: 10px;
    align-items: center;
    background: rgba(255, 255, 255);
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
h1{
margin-bottom: 20px;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
color: rgb(0, 0, 0);
}

.form-group {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

label{
font-size: 14px;
color: black;
}
.input{
width: 100%; 
padding: 10px;
border-radius: 10px; 
outline: none;
font-size: 16px;
background: rgba(255, 255, 255, 0.5);
}   
.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
}

.remember-forgot label {
    color : black;
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

button{
width: 100%;
padding: 10px;
font-size: 18px;
border-radius: 5px;
border: none;
background: black;
color: white;
cursor: pointer;
transition: 0.3s;
}

button:hover {
    background: #a0c8f3;
}


p {
    margin-top: 10px;
    font-size: 14px;
}

p a {
    color: black;
    text-decoration: none;
}
a:hover{
    color: #007bff;
}